
#textblock1 {
  background-color: #2d4059;
  height: 130vh;
}
#textblock2 {
  background-color: #db5f29;
  height: 130vh;
}
#textblock3 {
  background-color: #5d697a;
  height: 130vh;
}
#textblock4 {
  background-color: #a44444;
  height: 170vh;
}
#textblock5 {
  background-color: #4f3961;
  height: 100vh;
}
#textblock6 {
  background-color: #210002;
  height: 130vh;
}
#textblock7 {
  background-color: #3a4750;
  height: 120vh;
}
#textblock8 {
  background-color: #7b3c3c;
  height: 100vh;
}
#textblock9 {
  background-color: #5f685a;
  height: 100vh;
}

#textblock-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 70px;
}

#textblock-title {
  color: #ffaf1b;
  font-size: 35px;
  font-weight: 600;
  font-family: "Helvetica Neue";
}
#textblock-subtitle {
  color: #ffaf1b;
  font-size: 20px;
  font-weight: 200;
  font-family: "Helvetica Neue";
}

#textblock-content {
  color: #ffaf1b;
  font-size: 20px;
}

#textblock-footer {
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin-bottom: 20px;

}

#textblock-devsense {
  text-decoration: none;
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 600;
}

.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

.content {
  height: 150vh;
}


.img {
  margin-top: -100px; /* Adjust this value to move the image upwards */
}
.img1 {
   /* Adjust this value to move the image upwards */

 object-fit: scale-down;

  
}


.frame {
    
     width: 10%;
     margin-left: 40rem;
     margin-top: 2rem;

}

.btn {
  width: 8rem;
  height: 2rem;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
  border-radius: 2rem;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
 
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 14px;
  font-weight: 100;
}


.quote{
    
color: white;
margin-left: 21rem ;

}

.author{
    
  color: white;
  margin-left: 21rem ;
 
  
  }
  .affiliation{
    
    color: white;
    margin-left: 21rem ;
    
    }

.content__index{
    
  color: white;
  font-size: 50px;
 
  float: right;
  
  }